.bg{
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: #0c1036;
    background: url(img/others/background-top.png) no-repeat;
    background-position: top right;
    background-size: 75%;
    overflow-x: hidden;
}
@media (max-width: 768px) {
    .bg {
        background-size: unset;
    }
}